<div class="top-title-box row border border-bottom">
  <div class="container my-auto">
    <h4 class="top-title text-center font-italic"><b><em>エントリー確認ページ</em></b></h4>
  </div>
</div>
<h1>エントリー申し込みが完了しました。</h1>
<%= link_to 'エントリーしたイベント詳細画面に戻る', event_path(@event), method: :get %>