<% visitor = notification.visitor %>
<% visited = notification.visited %>

<% if notification.checked == false %>
    <div class="border">
        <%= link_to user_path(visitor) do %>
            <%= visitor.nickname %>さん
        <% end %>
        <% if notification.action=='dm' %>
        <p>があなた(<%= visited.nickname %>さん)にDMを送りました</p>
        <% end %>
        <%= link_to '既読にする',notification_path(notification.id),method: :put %>
    </div>
<% end %>