<% visitor = notification.visitor %>
<% visited = notification.visited %>

<% if notification.checked == false %>
    <div class="border">
        <%= link_to user_path(visitor) do %>
            <%= visitor.nickname %>さん
        <% end %>
        <% if notification.action=='dm' %>
        があなた<small class="text-muted">(<%= visited.nickname %>さん)</small>にDMを送りました。
        <% end %>
        <%= link_to '既読にする',notification_path(notification.id),method: :put %>
    </div>
<% end %>