<% visitor = notification.visitor %>
<% visited = notification.visited %>

<% if notification.checked == false %>
    <div class="border p-3">
        <%= link_to user_path(visitor) do %>
            <p><%= visitor.nickname %>さん
        <% end %>
        <% if notification.action=='dm' %>
        があなたにDMを送りました。<br>
        <small class="text-muted"><%= Message.find_by(id: notification.message_id)&.body %></small></p>
        <% end %>
        <%= link_to 'メッセージを確認する',notification_path(notification.id, visitor_id: visitor.id),method: :put %>
        
    </div>
<% end %>